{% extends "base.html" %}
{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}
    <form action="{% url 'class_create' %}">
    {% csrf_token %}
        <input type="submit" value="Create new Class">
    </form>
    <table>
    {% for class in object_list %}
        <tr>
            <td><a href="{% url 'class_attendance_list' class.id 1 %}">{{ class.number }}
            </a></td>
            <td>
                <form action="{% url 'class_update' class.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Update">
                </form>
            </td>
            <td>
                <form action="{% url 'class_delete' class.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}