{% extends "base.html" %}
{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}
    <h3>{{ class.number }}-{{ class.course }}</h3>

    <div class="row">
        <div class="col-3">
            <form action="{% url 'college_day_create' class.id %}" method="post">
                {% csrf_token %}
                <input type="date" name="new_college_day">
                <input type="submit" value="Create new Date">
            </form>

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for date in attDateList %}
                    {% if forloop.counter == attDateId %}
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#{{ date.id }}"
                       role="tab" aria-controls="v-pills-home" aria-selected="true">
                    {% else %}
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#{{ date.id }}"
                       role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    {% endif %}
                    {{ date.date|date:'d-M-Y' }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-9 tab-content" id="v-pills-tabContent">
            {% for date in attDateList %}
                {% if forloop.counter == attDateId %}
                <div class="tab-pane fade show active" id="{{ date.id }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                {% else %}
                <div class="tab-pane fade" id="{{ date.id }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                {% endif %}

                {{ date.date|date:'d-M-y' }}
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col">Attend</th>
                            <th scope="col">Absent</th>
                        </tr>
                        <tr><td>
                        {% for attendStudent in attendance %}
                            {% if attendStudent.collegeDay == date and attendStudent.attendance %}
                                 <form action="{% url 'attendance_toggle' class.id attendStudent.id forloop.parentloop.counter %}">
                                    <input type="submit" value="{{ attendStudent.student.user.first_name }} {{ attendStudent.student.user.last_name }}">
                                </form>
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                        {% for attendStudent in attendance %}
                            {% if attendStudent.collegeDay == date and not attendStudent.attendance %}
                                <form action="{% url 'attendance_toggle' class.id attendStudent.id forloop.parentloop.counter %}">
                                    <input type="submit" value="{{ attendStudent.student.user.first_name }} {{ attendStudent.student.user.last_name }}">
                                </form>
                            {% endif %}
                        {% endfor %}
                        </td></tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}