{% extends "base.html" %}
{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
    <section class="mt-2 p-3 d-flex justify-content-center pb-4">
        <div class="col-0  m-1">
            <h2>COURSE</h2>
        </div>
    </section>
    <div class="card container">
        <div class="col-0 align-self-end m-3">
            <form action="{% url 'course_create' %}">
                {% csrf_token %}
                <input type="submit" value="Create new course" class="p-2 m-2 btn btn-primary dropdown-toggle">
            </form>
        </div>

         <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                <table class="table table-striped mb-0 card-body p-0">
                    <thead class="table-dark  ">
                        <tr>
                            <th scope="col">Course Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in object_list %}
                            <tr>
                                <td>
                                    {{ course.code }}
                                </td>
                                <td>
                                    {{ course.name }}
                                </td>
                                <td>
                                    <form action="{% url 'course_update' course.id %}">
                                        <input type="submit" value="Update">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'course_delete' course.id %}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
         </div>
    </div>
    {% else %}
        <h1>You does not have authentication</h1>
    {% endif %}
{% endblock %}