{% extends "base.html" %}
{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}
    <table><tr>
    <td><form action="{% url 'student_create' %}">
        <input type="submit" value="Create new Student">
    </form></td>
    <td><form method="post" action="{% url 'student_upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="file" name="myfile">
        <button>Upload</button>
    </form></td>
    </tr></table>
    <table align="center">
    {% for student in object_list %}
        <tr>
            <td>
                {{ student.student_id }}
            </td>
            <td>
                {{ student.user.first_name }} {{ student.user.last_name }}
            </td>
            <td>
                {{ student.user.email }}
            </td>
            <td>
                <form action="{% url 'student_detail' student.student_id %}">
                    <input type="submit" value="Update">
                </form>
            </td>
            <td>
                <form action="{% url 'student_delete' student.student_id %}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}